<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/">
            <img class="logo"  src="assets/logo1.png" alt="logodoprojeto" >
        </a>
    </span>
    <SPAn class="title-group example-spacer">
        <a>
            <i class="material-icons">
                dashboard 
            </i>
                Início
            <i class="material-icons left">
                favorite_border
            </i>
            <i class="material-icons espc1">
                share
            </i>
            <i class="material-icons espc1">
                person
            </i>
        </a>
    </SPAn>
</mat-toolbar>