.home .title {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  margin-left: 17px;
}

.home .subtitle {
  font-size: 1.1em;
  margin-left: 17px;
}

.img1 {
  background-color: #eee;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 1700px 840px;
}